:root {
    --color-default: #181818;
    --color-dark-grey: #606060;
    --color-medium-grey: #cdcdcd;
    --color-light-grey: #e6e6e6;
    --color-white-100: #fff; /* 100% white */
    --color-brand-default: #00C292;
    --color-brand-default-2: #00a39c;
    --color-brand-default-3: #007c77; /* #007c77*/
    --color-brand-default-opacity-10: #e6f9f4; /* #e6f9f4 #e6f6f6 default brand color with 10% opacity*/
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 1rem; /* 16px = 1rem  by default */ /* 62.5% (another option) */
}

body {
    font-family: 'Inter', 'Be Vietnam Pro', Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.container {
    width: 90%;
    max-width: 480px;
    margin: 0 auto;
}

/* ---  FONT TYPEFACE --- */
.main-title, h2, .project-title {
    font-family: 'Be Vietnam Pro', sans-serif;
}

/* --- LAYOUT --- */
section {
    padding: 60px 0; 
}

footer {
    padding: 40px 0;
}

.stack-container,
.contact-container {
    flex-wrap: wrap;
    justify-content: center;
}

nav {
    height: 80px;
}

header, 
section,
footer {
    text-align: center;
    color: var(--color-default);
}

/* -- display -- */
.flex { 
    display: flex;
}

.block {
    display: block;
}

a, button, ul li {
    cursor: pointer;
}

/* -- bg-color -- */
.about-me, footer {
    background-color: var(--color-default);
}

.my-projects {
    background-color: var(--color-light-grey);
}


/* --- NAVBAR --- */
header {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    /* position: sticky; */
    top: 0;
}

ul{
    align-items: center;
}

.main-logo, ul li{
    font-size: 0.875rem;
    white-space: nowrap;
}

ul {
    padding-left: 0px;
}

.main-logo {
    font-weight: 700;
    margin-right: auto;
    align-self: center;
}

ul li{
    list-style-type: none;
    padding: 0.375em; /* 6px/16px */
    margin-left: 0.375em; /* 6px/16px */
}

li a {
    text-decoration: none;
    color: var(--color-default);
}

ul li:nth-last-child(1) {
    border: 1px solid var(--color-default);
    border-radius: 4px;
}

ul li:hover a {
    color: var(--color-brand-default);
}

ul li:hover > .hire-me {
    color: var(--color-white-100);
}

ul li:nth-last-child(1):hover {
    background: linear-gradient(
        125deg, 
        var(--color-brand-default),
        var(--color-brand-default-2)
    );
    border-color: var(--color-brand-default);
}


/* --- ABOUT ME --- */
.profile-img {
    max-width: 200px;
    border-radius: 100%;
    border: 2px solid var(--color-light-grey);
}

h1 {
    font-size: 2.25rem; /* 38px */
    font-weight: 800;
    line-height: 0.9;
    text-transform: uppercase;
    margin: 0.2em auto; /* 8px/42px auto */
}

.name-text  {
    width: inherit;
}

.main-title,
.name-text {
    background: linear-gradient(
        45deg, 
        var(--color-brand-default) ,
        var(--color-brand-default-2)
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.sub-title {
    color: var(--color-white-100);
    font-size: 1rem; /* 18px */
    font-weight: 400;
    margin: 1.5em;
}

.intro-text {
    color: var(--color-light-grey);
    font-weight: 300;
    margin: 1.5em auto 2.5em;  /* 0 auto 50px/16px */
    width: 95%;
    line-height: 1.4;
}


/* --- MY STACK --- */
h2 {
    font-size: 2rem; /* 32px */
    margin: 0 auto 1.25em; /* 0 auto 40px/32px */
}

.stack-title {
    font-size: 0.875rem; /* 14px */  
    line-height: 1.4;
    display: block;
    width: 80px;
    color: var(--color-dark-grey);
}

.stack-item {
    margin: 0 0.5em 1.5em;
}

.stack-icon {
    width: 40px; 
    margin-bottom: 4px;
}


/* --- MY PROJECTS --- */
/* -- font-color and style */
a.project-card {
    text-decoration: none;
    text-align: left;
    color: var(--color-default);
}

h3 {
    font-size: 1.125rem; /* 18px */
    font-weight: 700;
    margin: 0;
}

.project-desc {
    color: var(--color-dark-grey);
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
}

.project-tag { 
    font-size: 12px;
    font-weight: 400;
    color: var(--color-brand-default-3);
    background-color: var(--color-brand-default-opacity-10);
    border-radius: 50px;
    padding: 0.5em 1em;
    margin: 0 0.5em 0.5em 0;
}

svg {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    padding-top: 4px;
    transition: ease-in-out 0.3s;
}

.coming-soon {
    opacity: 0.8;
}


/* -- project layout -- */
.projects-container {
    display: grid;
    gap: 2em;
}

.project-title, .project-desc, .project-tags-container {
    padding: 0 20px;
}

.project-card {
    width: 95%;
    max-width: 390px;
    height: 460px;
    flex-direction: column; 
    background-color: var(--color-white-100);
    border-radius: 12px;
    margin: 0 auto;
    transition: ease 0.3s;
}

.project-card:hover{ 
    box-shadow: 0 0 12px var(--color-medium-grey);
}

.project-card:hover svg { 
    translate: 4px -4px;
}

.project-img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: center 7.5%; /* position the img to show slightly below the top */
    border-radius: 12px 12px 0 0;
}

.project-title {
    align-items: baseline;
    margin: 1em 0 0.5em;
}

.project-tags-container {
    margin: auto 0 12px;
    flex-wrap: wrap;
}

.other-projects {
    margin: 32px auto 0;
    justify-content: center;
}


/* --- FOOTER --- */
.contact-icon {
    font-size: 1.75rem; /* 28px */
    margin: 0 0.57em; /* 0 16px/28px */
    color: var(--color-light-grey);
}

.contact-icon:hover {
    color: var(--color-brand-default);
}

.web-description,
.copyright-text {
    color: var(--color-light-grey);
    font-weight: 300;
    font-size: 0.75rem; /* 12px */
}

.copyright-text {
    padding-top: 1.75em; /* 20px/12px */
    margin: 0 auto;
    border-top: 1px solid var(--color-dark-grey);
}

.web-description {
    margin: 2.5em auto 1.7em; /* 30px/12px auto 20px/12px */
    width: 90%;
}

/* ---  BTN ---  */
/* -- btn-link -- */
.resume-btn,
.project-link,
.other-project-btn {
    text-decoration: none;
}

.resume-btn,
.other-project-btn {
    font-size: 0.875rem; /* 14px */
    font-weight: 400;
    padding: 0.75em 1.5em;
    border-radius: 4px;
    cursor: pointer;
}

.resume-btn {
    color: var(--color-light-grey);
    border: 1px solid var(--color-light-grey);
}

.other-project-btn{
    color: var(--color-dark-grey);
    border: 1px solid var(--color-dark-grey);
}

.resume-btn:hover,
.other-project-btn:hover {
    color: var(--color-white-100);
    background: linear-gradient(
        125deg, 
        var(--color-brand-default),
        var(--color-brand-default-2)
    );
    border: 1px solid var(--color-brand-default);
    transition: all 0.3s;
}

/* .other-project-btn:hover::after {
    width: 100%;
} */


/* --   MEDIA QUERIES --- */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .projects-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, minmax(500px, 1fr));
        gap: 1.25em;
    }

    .project-card { 
        width: 100%;
        height: 100%;
        margin: 0;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }

    .main-logo, ul li{
        font-size: 1rem;
    }

    .main-title {
        font-size: 3rem; /* 48px */
    }

    .sub-title, .intro-text {
        font-size: 1.125rem;
    }

    .intro-text {
        width: 82%;
    }

    h2 {
        font-size: 2.25rem; /* 36px */
    }

    .stack-container { width: 768px; margin: 0 auto;}

    .projects-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, minmax(460px, 1fr));
    }

    .project-img {
        height: 45%;
    }

    .web-description,
    .copyright-text {
        font-size: 0.875rem; 
    }
}